<div class="container mt-5">
    <div class="card shadow p-4">
        <h1 class="text-center mb-4">Informacion del producto {{product._id}}</h1>
    </div>

    <div class="mt-4 d-flex border p-3 rounded bg-white"
        style="overflow-y: auto; gap: 10px; flex-wrap: wrap;">
        <div class="col-md-4 mb-4" style="margin: auto">
            <div class="card shadow-sm">
                <img
                    src="{{#if product.thumbnails}}/img/{{product.thumbnails}}{{else}}/img/image-not-found.jpg{{/if}}"
                    class="card-img-top"
                    alt="Imagen de {{product.name}}"
                    style="height: 400px; object-fit: cover;"
                    onclick="event.stopPropagation();"
                />
                <div class="card-body">
                    <h5 class="card-title">{{product.name}} ({{product._id}})</h5>
                    <p class="card-text"><strong>Categoría:</strong> {{product.category}}</p>
                    <p class="card-text"><strong>Descripción:</strong> {{product.description}}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{product.price}}</p>
                    <p class="card-text"><strong>Descuento:</strong> {{product.discount}}%</p>
                    <p class="card-text"><strong>Stock:</strong> {{product.stock}} unidades</p>
                    <p class="card-text"><strong>Código:</strong> {{product.code}}</p>
                    <p class="card-text"><strong>Estado:</strong>
                        <span class="badge {{#if product.status}}bg-success{{else}}bg-danger{{/if}}">
                            {{#if product.status}}Disponible{{else}}Agotado{{/if}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 d-flex border p-3 rounded bg-white" style="justify-content: center">
        <a href="/products" class="btn btn-primary mx-2">Volver</a>
    </div>
</div>
